*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    background: rgb(139, 199, 255);
}
.container{
    margin: 5%;
}

.back{
    margin: 0 auto;
}
.title, .numero, .botonGanador{
    text-align: center;
    margin-top: 8%;
}
.numero{
    font-size: 30px;
}
.botonGanador{
    color: white;
    padding: 10px;
    background-color: rgb(0, 11, 110);

}




